In [189]:
%%python2
# Python 2 print does not require parens
print 'hello', 'there'

hello there

In [190]:
# ...but that will fail in Python 3
print 'hello', 'there'

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-190-48d3377a4659>, line 2)

In [192]:
%%bash
# %%bash is a 'cell magic' which means run the contens of this cell
# ...in bash instead of Python
echo hello from bash
x=1
echo $x

hello from bash
1

In [5]:
%%python2
print 'hello',
print 'there'

hello there

In [6]:
print('hello', end=' ')
print('there')

hello there

In [7]:
mylist = [1, 2, 3]

In [8]:
mylist

[1, 2, 3]

In [9]:
for num in mylist:
    print(num)

1
2
3

In [10]:
def func(x, y):
    x += 1
    y -= 1
    return x, y

x, y = 5, 7
x, y = func(x, y)
x, y

(6, 6)

In [12]:
def func(x, y):
    print(id(x), id(y))
    
a = 13
b = 15
c = 1
print(id(a), id(b))
func(a, b)

4297624320 4297624384
4297624320 4297624384

In [13]:
x = 1
y = 1
id(x), id(y)

(4297623936, 4297623936)

In [14]:
x = 1000
y = 1000
id(x), id(y)

(4385702544, 4385702832)

In [15]:
import re

def pluralize(noun):
    if re.search('[sxz]$', noun):
        return noun + 'es'
    elif re.search('[^aeioudgkprt]h$', noun):
        return noun + 'es'
    elif re.search('[^aeiou]y$', noun):
        return re.sub('y$', 'ies', noun)
    else:
        return noun + 's'

In [16]:
pluralize('ax')

'axes'

In [17]:
pluralize('moth')

'moths'

In [18]:
pluralize('mo1h')

'mo1hes'

In [19]:
pluralize('match')

'matches'

In [20]:
pluralize('baby')

'babies'

In [21]:
pluralize('boy')

'boys'

In [22]:
new_list = [1, 2]

In [23]:
new_list.sort(reverse=True)

In [24]:
new_list

[2, 1]

In [25]:
new_list = [5, 1, 3, 2, 7]
sorted(new_list)

[1, 2, 3, 5, 7]

In [26]:
new_list

[5, 1, 3, 2, 7]

In [27]:
new_list.index(5)

0

In [28]:
new_list.sort() #new_list = sorted(new_list)

In [29]:
new_list

[1, 2, 3, 5, 7]

In [30]:
new_list = new_list.sort()

In [31]:
print(new_list)

None

In [32]:
for thing in ():
    print('do something')

In [33]:
for thing in 1:
    print('do')

TypeError: 'int' object is not iterable

In [34]:
d = {}

In [35]:
emptyset = {}

In [36]:
type(emptyset)

dict

In [37]:
emptyset = set()

In [38]:
%%python2
d = { 'tall': 12, 'grande': 16 }
keys = d.keys() # get a static list of keys currently in the dict
print(keys)
d['venti'] = 20
print(keys)

['tall', 'grande']
['tall', 'grande']

In [39]:
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
# keys() function is a view, which is dynamic
keys = list(d.keys()) # wrapping in a list() call gives me Python 2 behavior
print(keys)
d['trenta'] = 31
print(keys)

{'tall': 12, 'grande': 16, 'venti': 20}
['tall', 'grande', 'venti']
['tall', 'grande', 'venti']

In [41]:
%%python2
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
for cup in d.keys():
    if cup == 'grande':
        del d[cup]
print(d)

{'tall': 12, 'venti': 20, 'grande': 16}
{'tall': 12, 'venti': 20}

In [43]:
d = {}
d['tall'] = 12
d['grande'] = 16
d['venti'] = 20
print(d)
for cup in d.keys():
    if cup == 'grande':
        del d[cup]
        #break
print(d)

{'tall': 12, 'grande': 16, 'venti': 20}
{'tall': 12, 'venti': 20}

# Notes

In [44]:
from bank import BankAccount

In [45]:
account = BankAccount('Taylor Swift', 700)

In [46]:
account.name

'Taylor Swift'

In [47]:
account.balance

700

In [48]:
account.profession = 'singer'

In [49]:
account.profession

'singer'

In [50]:
new_var = 45

In [51]:
account

In [52]:
str(account)

'<bank.BankAccount object at 0x105ca26a0>'

In [53]:
account.__str__()

'<bank.BankAccount object at 0x105ca26a0>'

In [54]:
len('salesforce')

10

In [55]:
'salesforce'.__len__()

10

In [56]:
account.balance

700

In [57]:
account.deposit(30)

730

In [58]:
BankAccount.deposit(account, 30)

760

In [61]:
print(account)

<bank.BankAccount object at 0x105ca26a0>

In [65]:
from bank2 import BankAccount

In [66]:
!cat bank2.py

class BankAccount():
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance

    'representation of the object "feedable" to Python interpreter'
    def __repr__(self):
        return self.__class__.__name__ + '(' + repr(self.name) \
               + ', ' + repr(self.balance) + ')'

    ''''string representation of object, for humans
    __repr__ is used if __str__ does not exist'''
    def __str__(self):
        print('in the __str__() function')
        return self.name + ' ' + str(self.balance)

    def __add__(self, other):
        return BankAccount(self.name + ' ' + other.name, \
				self.balance + other.balance)
    def __len__(self):
        return self.balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [67]:
new_account = BankAccount('Thomas Jefferson', 450)

In [68]:
print(new_account)

in the __str__() function
Thomas Jefferson 450

In [72]:
id(new_account.__class__), id(new_account)

(4337903736, 4392085880)

In [73]:
new_account.__class__.__name__

'BankAccount'

In [74]:
repr(new_account)

"BankAccount('Thomas Jefferson', 450)"

In [75]:
new_account2 = eval(repr(new_account))

In [76]:
type(new_account2)

bank2.BankAccount

In [77]:
new_account2.name

'Thomas Jefferson'

In [78]:
new_account == new_account2

False

In [79]:
new_account is new_account2

False

In [80]:
id(new_account), id(new_account2)

(4392085880, 4385754360)

In [82]:
new_account.balance, new_account2.balance

(450, 450)

In [103]:
class BankAccount():
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance
    
    def foobar(self, name):
        return 'blah!'
    
    'representation of the object "feedable" to Python interpreter'
    def __repr__(self):
        return self.__class__.__name__ + '(' + self.foobar(self.name) \
               + ', ' + self.foobar(self.balance) + ')'

    ''''string representation of object, for humans
    __repr__ is used if __str__ does not exist'''
    def __str__(self):
        print('in the __str__() function')
        return self.name + ' ' + str(self.balance)
    
    def __eq__(self, other):
        if self.name == other.name and self.balance == other.balance:
            return True
        return False
    
    def __add__(self, other):
        return BankAccount(self.name + ' ' + other.name, \
				self.balance + other.balance)
    def __len__(self):
        return self.balance
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return self.balance
        else:
            print("can't deposit nonpositive amount!")

    def withdraw(self, amount):
        if amount > 0:
            if amount <= self.balance:
                self.balance -= amount
                return self.balance
            else:
                print("can't withdraw", amount, "or you would be overdrawn!")
        else:
            print("can't withdraw nonpositive amount!")

In [104]:
tj = BankAccount('Thomas', 150)

In [105]:
repr(tj)

'BankAccount(blah!, blah!)'

In [87]:
print(tj2)

in the __str__() function
Thomas 150

In [90]:
tj == tj2 # will use BankAccount.__eq__

True

In [89]:
tj is tj2

False

In [91]:
len(tj)

150

In [92]:
tj2 - tj

TypeError: unsupported operand type(s) for -: 'BankAccount' and 'BankAccount'

In [93]:
ts = BankAccount('Taylor Swift', 1324)

In [95]:
joint_account = ts + tj

In [96]:
print(joint_account)

in the __str__() function
Taylor Swift Thomas 1474

In [97]:
repr('Taylor Swift')

"'Taylor Swift'"

In [98]:
str('Taylor Swift')

'Taylor Swift'

In [99]:
print('Taylor Swift')

Taylor Swift

In [106]:
from calculator import Calc
c = Calc()

In [107]:
c.add(2, 4)

6

In [108]:
c.add(1)

7

In [109]:
c.mult(8)

56

In [111]:
c.mult(3, 4)

12

In [113]:
print(c.showcalc())

4 + 2 = 6
6 + 1 = 7
7 * 8 = 56
4 * 3 = 12

In [127]:
class Word(str):
    def __repr__(self):
        return 'Word("' + self + '")'
    
    def __gt__(self, other):
        return len(self) > len(other)
    
    def __lt__(self, other):
        return len(self) < len(other)
    
    def __ge__(self, other):
         return len(self) >= len(other)
    
    def __le__(self, other):
        return len(self) <= len(other)

In [124]:
my_words = [Word('peach'), Word('apple'), Word('fig'), 
            Word('pear')]
print(my_words)
print(sorted(my_words))
type(my_words[1])

[Word("peach"), Word("apple"), Word("fig"), Word("pear")]
[Word("fig"), Word("pear"), Word("peach"), Word("apple")]

__main__.Word

In [129]:
word1 = Word('apple')
word2 = Word('fig')

In [130]:
'apple' < 'fig'

True

In [131]:
word1 < word2

False

# Create a "ZanyInt" class which inherits from int and redefines certain methods:
* len() doesn't work for standard ints but make sure it works for a ZanyInt
* make it so + usually gives the right answer, but not always (use the random module)
* make it so the str() version of a ZanyInt is something more complicated, e.g., str(3) return 'three', but str() of other numbers returns the number with some leading and trailing spaces

In [125]:
import random

In [126]:
random.random()

0.3027898852931965

In [186]:
class ZanyInt(int):
    def __len__(self):
        return len(super().__str__())
    
    def __str__(self):
        if self == 3:
            return 'three'
        else:
            return '   ' + super().__str__() + ' '
        
    def __add__(self, other):
        sum = super().__add__(other)
        import random
        if random.random() > 0.5:
            sum += random.random()
        return sum

In [187]:
z = ZanyInt(3576)

In [134]:
len(z)

5

In [135]:
len(3)

TypeError: object of type 'int' has no len()

In [180]:
z + 7

10.291425677300598

In [183]:
str(z)

'three'

In [185]:
str(ZanyInt(5))

'   5 '

In [188]:
len(z)

4